@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

body {
  font-family: 'Antic Slab', serif;
  color:#770f0f;
  text-shadow: 4px 4px 7px #83580b,
              -4px -4px 7px #e3b24a;
  background: #e3b24a;
  scroll-behavior: smooth;
}

.imgcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.contain {
  margin-left: 5%;
  margin-right: 5%;
}

.textcenter {
  text-align: center;
}

.arabic {
  font-family: 'Amiri', serif;
}

hr {
  background: #770f0f;
  border: 1px solid #770f0f;
  box-shadow: 3px 3px 7px #83580b,
             -4px -4px 7px #e3b24a
}

ul {
  list-style-type: none;
}

/* Main Card Design Start */

.maincard {
  text-align: justify;
  text-justify: inter-word;
  font-size: 15px;

  padding-inline: 30px;
  padding-block: 15px;

  border-radius: 30px;
  box-shadow:  20px 20px 60px #c1973f,
              -20px -20px 60px #ffcd55;

  margin-bottom: 25px;
}

.maincard ul {
  height: 50px;
  width: 100%;
 
  padding-left: 0;

  border-radius: 20px;

  margin: 0 auto;

  position: relative;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  box-shadow: 5px 8px 10px #c1973f,
             -5px -4px 10px #c1973f;
}

.maincard ul li {
  font-weight: normal;
  text-transform: uppercase;
  line-height: 50px;
  height: 50px;

  padding: 0px 24px;
  padding-left: 0;

  margin: 0;
  
  position: relative;
  flex-grow: 1;
}

.maincard ul li a {
  color:#770f0f;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
  text-overflow: ellipsis;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  height: 100%;

  padding: 0 12px;
  
  display: block;
  cursor: pointer;
  overflow: hidden;
  
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}

.maincard ul li::before{
  content: "";
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 0;
  height: 3px;
  background-color: #c1973f;
  border-radius: 10px;
  
  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
}

.maincard ul li:hover::before,.maincard ul li:focus::before {
  transform: scaleX(1);
}

.collapsiblehead {
  padding: 15px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
}

.collapsiblehead.active {
  border: none;
  border-radius: 20px;
  outline: none;
  box-shadow: inset 3px 6px 24px #c1973f,
              inset -3px -6px 16px #ffcd55;
}

/* Main Card Design End */

/* Collapsible Card Design Start */

.collapsiblecard {
  font-size: 15px;
  border-radius: 30px;
  margin-bottom: 25px;
  box-shadow:  20px 20px 60px #c1973f,
              -20px -20px 60px #ffcd55;
}

.collapsiblebody {
  height: 0;
  padding-inline: 30px;
  transition: height .4s ease-in-out;
  overflow: hidden;
}

.collapsiblebody .collectionhead, .collapsiblebody .collectionblock {
  padding-inline: 30px;
  border-radius: 30px;
  box-shadow: inset 3px 6px 24px #c1973f,
              inset -3px -6px 16px #ffcd55; 
}

.collapsiblebody .collectionhead {
  font-size: 1.3em;
  line-height: 60px;
  margin-top: 40px;
}

.collapsiblebody .collectionblock {
  padding-block: 15px;
  margin-bottom: 40px;
}

.collectionblock .collectionlist {
  padding-block: 15px;
  font-size: 1.1em;
  display: flex;
}

.collectionlist span {
  padding-inline-end: 10%;
  flex-basis: 95%;
}


.collectionlist span p:nth-child(2) {
  font-weight: bold;
  text-decoration: underline;
}

.collectionlist a {
  font-size: 24px;
  line-height: 100%;
  margin: auto 0;
}

/* Collapsible Card Design End */